.git
.gitignore
.github

.venv
venv
env

.mypy_cache
.pytest_cache
.ruff_cache
.uv-cache
__pycache__/
*.py[cod]

.env
.env.*

docs/
tests/
scripts/

.idea/
.vscode/
*.swp
*.swo
.DS_Store

Dockerfile
docker-compose.yml
.dockerignore
