<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#050506">
  <title>{% block title %}qbit-filter{% endblock %}</title>
  <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
  <link rel="stylesheet" href="/static/custom.css">
  <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
</head>
<body>
  {% block content %}{% endblock %}
  {% if dev_mode %}<script src="/static/livereload.js" defer></script>{% endif %}
</body>
</html>
